<div class="navbar-container">
  <nav class="navbar">
    <div class="left-nav">
      <button class="left-nav-btn-two btn">در پرگار درس بدهید</button>
      <button class="left-nav-btn-one btn">
        حساب من <i class="fas fa-chevron-down"></i>
        <div class="dropdown-menu">
          <a href="">ورود/ثبت نام رایگان</a>
          <a href="#">کد هدیه</a>
        </div>
      </button>
    </div>
    <div class="right-nav">
      <a class="logo" href="#">
        <img src="http://pargar.ir/assets/img/logo_.png" alt="Website Logo" />
      </a>
      <a href="#" class="categories"
        >دسته&zwnj;بندی&zwnj;ها<i class="fas fa-chevron-down right"></i>
      </a>
      <div class="search-bar">
        <input type="text" class="search-bar" placeholder="جستجو کنید" />
        <a href="#"> <i class="fas fa-search"></i></a>
      </div>
      <a href="" class="guide">راهنمای پرگار</a>
    </div>
  </nav>
</div>
