.navbar-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  height: 70px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  padding: 16px 0;
}

.left-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.dropdown-login-link {
  border: none;
  background-color: transparent;
  color: #757575;
  cursor: pointer;
}

.btn {
  font-size: 13px;
  line-height: 32px;
  transition: color 0.2s 0s;
  -webkit-transition: color 0.2s 0s;
  -moz-transition: color 0.2s 0s;
  -ms-transition: color 0.2s 0s;
  color: white;
  border-radius: 30px;
  padding: 0 1rem;
  border: 2px solid #37b34a;
  font-weight: 700;
}

.left-nav-btn-two {
  color: #37b34a;
  background-color: white;
  &:hover {
    background-color: #37b34a;
    color: white;
  }
}
.left-nav-btn-one,
.pluse-btn {
  color: white;
  background-color: #37b34a;
  transition: background-color 0.2s 0s;
  -webkit-transition: background-color 0.2s 0s;
  -moz-transition: background-color 0.2s 0s;
  -ms-transition: background-color 0.2s 0s;
  position: relative;
  margin-right: 1rem;
}

.dropdown-menu {
  width: 135px;
  background-color: white;
  text-align: center;
  padding: 5px;
  display: none;
  position: absolute;
  left: -21px;
  z-index: 1;

  a {
    display: block;
    text-decoration: none;
    color: #757575;
    font-size: 14px;
  }
  &::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -5px;
    left: 64px;
    border: 9px solid transparent;
    border-top: 0;
    border-bottom: 7px solid white;
  }
}

button:hover .dropdown-menu {
  display: block;
}

.left-nav {
  padding-left: 2.5rem;
}

.right-nav {
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  order: -1;
  padding-right: 2.5rem;

  & > * {
    margin-right: 20px;
  }

  .logo {
    margin: 0;
  }
}

.logo {
  img {
    width: 70px;
    height: auto;
    padding: 0px;
    padding-left: 20px;
    border-left: 1px solid #bdbdbd;
  }
}

.search-bar {
  position: relative;
  input {
    border: 1px solid #bdbdbd;
    border-radius: 45px;
    width: 30vw;
    height: 40px;
    font-size: 14px;
    max-width: 460px;
    padding: 0 40px;
    outline: none;
    &::placeholder {
      font-weight: 400;
      color: #bdbdbd;
    }
  }

  .fa-search {
    position: absolute;
    top: 12px;
    right: 15px;
    transform: rotateY(180deg);
    color: #37b34a;
  }
}

.categories,
.guide {
  color: #757575;
  text-decoration: none;
}

.right {
  margin: 0 5px;
}

.login-view-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    animation: ngdialog-fadein 0.5s;
    z-index: -1;
  }

  .login-view {
    background-color: #fff;
    width: 450px;
    padding: 22px;
    margin-bottom: 10px;
    border-radius: 8px;

    .login-title {
      font-size: 18px;
      color: black;
      margin-bottom: 1rem;
    }
    form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    input {
      width: 100%;
      padding: 0.5rem;
      border-radius: 5px;
      border: 1px solid #37b34a;
      outline: none;
      box-sizing: border-box;
      &::placeholder {
        font-weight: 500;
        font-size: 16px;
        color: #acacac;
      }
    }

    .login-form {
      text-align: center;
    }

    .error-text {
      font-size: 18px;
      color: red;
      text-align: right;
      padding: 16px 0;
      align-self: flex-start;
    }

    .login-btn {
      margin: 1rem 0;
      border-radius: 20px;
      background: #37b34a;
      border: 2px solid #37b34a;
      transition: background-color 0.2s 0s;
      width: 50%;
      color: white;
      font-size: 16px;
      padding: 5px 0;
      &:focus,
      &:hover {
        background-color: white;
        color: #37b34a;
      }
    }
  }
}

.login-view {
  width: 400px;
  input {
    margin: 1rem 0;
  }
}

.login-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .resend-btn {
    background-color: transparent;
    color: #37b34a;
    border: none;
    cursor: pointer;
  }
}

.user-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;

  .user-avatar {
    width: 32px;
    height: 32px;
    order: 1;
  }

  .dropdown-menu {
    margin: auto;
    width: 95px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0px 2px 10px 0px rgb(0 0 0 / 16%),
      0px 2px 5px 0px rgb(0 0 0 / 26%);
    padding: 4px;
    text-align: right;
    top: 59px;
    left: 22px;

    &::before {
      top: -5px;
      left: 45px;
    }
    li {
      list-style: none;
    }
  }

  &:hover .dropdown-menu {
    display: block;
  }

  .pluse-btn {
    margin: 0 0 0 1rem;
  }

  .profile-router {
    cursor: pointer;
  }
}
