<div class="navbar-container">
  <nav class="navbar">
    <div class="left-nav">
      <button class="left-nav-btn-two btn">در پرگار درس بدهید</button>
      <div class="user-profile" *ngIf="userAvatar">
        <img class="user-avatar" [src]="userAvatar" alt="" />
        <div class="dropdown-menu">
          <ul>
            <li><a class="profile-router" (click)="onProfile()">پروفایل</a></li>
            <li><a href="#">کد هدیه</a></li>
            <li><a href="#">راهنما</a></li>
            <li>
              <a class="dropdown-login-link" (click)="onLogout()">
                خروج از پرگار
              </a>
            </li>
          </ul>
        </div>
        <button class="pluse-btn btn">کاربر اشتراکی شوید</button>
      </div>
      <button class="left-nav-btn-one btn" *ngIf="!userAvatar">
        حساب من <i class="fas fa-chevron-down"></i>
        <div class="dropdown-menu">
          <a class="dropdown-login-link" (click)="onLoginDropdown()">
            ورود/ثبت نام رایگان
          </a>
          <a href="#">کد هدیه</a>
        </div>
      </button>
    </div>
    <div class="right-nav">
      <a class="logo" href="#">
        <img src="http://pargar.ir/assets/img/logo_.png" alt="Website Logo" />
      </a>
      <a href="#" class="categories"
        >دسته&zwnj;بندی&zwnj;ها<i class="fas fa-chevron-down right"></i>
      </a>
      <div class="search-bar">
        <input type="text" class="search-bar" placeholder="جستجو کنید" />
        <a href="#"> <i class="fas fa-search"></i></a>
      </div>
      <a href="" class="guide">راهنمای پرگار</a>
    </div>
  </nav>
</div>

<div class="form login-view-container" *ngIf="isLoginDropdown">
  <div class="overlay" id="over"></div>
  <form
    class="login-view"
    [formGroup]="signupForm"
    (ngSubmit)="onSignup()"
    *ngIf="currentMode === 'login'"
  >
    <p class="login-title">ورود و ثبت نام</p>
    <div class="login login-form">
      <input
        type="text"
        formControlName="phoneNumber"
        placeholder="شماره تلفن همراه"
        #phoneNumber
      />
      <p class="error-text" *ngIf="haveError">
        {{ errorMessage }}
      </p>
      <button type="submit" class="login-btn">دریافت کد تایید</button>
    </div>
  </form>
  <form
    class="form login-view verify-login"
    *ngIf="currentMode === 'verify'"
    [formGroup]="verificationForm"
  >
    <p class="login-title">ورود کد تایید</p>
    <div class="login verify-login-form">
      <input
        type="text"
        formControlName="verification"
        placeholder="کد تاییدیه"
      />
      <input
        type="text"
        formControlName="username"
        placeholder="نام نمایشی شما"
        #username
      />
      <div class="login-btns">
        <p class="error-text" *ngIf="!codeValidation">کد نادرست است</p>

        <button
          class="login-btn"
          (click)="onVerifyCode()"
          [disabled]="verificationForm.invalid"
        >
          ورود به پرگار
        </button>
        <button class="resend-btn" (click)="onResendCode()">
          ارسال مجدد کد تایید
        </button>
      </div>
    </div>
  </form>
</div>
