<hr />
<footer>
  <div class="footer-wrapper">
    <div class="website-info">
      <ul>
        <li><a href="#">وبلاگ پرگار</a></li>
        <li><a href="#">درباره پرگار</a></li>
        <li><a href="#">پرگار در رسانه ها</a></li>
        <li><a href="#">تماس با ما</a></li>
      </ul>
    </div>
    <div class="teaching-feature">
      <div class="banner">
        <p>از آموخته‌های خود کسب درآمد کنید!</p>
        <button>در پرگار درس بدهید</button>
      </div>
      <div class="site-verification">
        <img src="/assets/images/e_namad.png" alt="E namad Logo" />
        <img src="/assets/images/samandehi_logo.png" alt="Samandehi Logo" />
      </div>
    </div>
    <div class="social">
      <div class="social-icons">
        <div class="social-text">
          <h3>پرگار را دنبال کنید</h3>
          <p>اطلاع از آموزش‌های جدید، تخفیف‌ها و…</p>
        </div>
        <div class="social-icon-logo">
          <img
            src="/assets/icons/icon_social_telegram.svg"
            alt="Telegram Logo"
          />
          <img src="/assets/icons/icon_social_aparat.svg" alt="Aparat Logo" />
          <img
            src="/assets/icons/icon_social_instagram.svg"
            alt="Instagram Logo"
          />
        </div>
      </div>
      <div class="find-app-icons">
        <a href="#">
          <img src="/assets/icons/icon_play1.svg" alt="Google play Logo" />
        </a>
        <a href="">
          <img src="/assets/icons/icon_4khooneh.svg" alt="4khoone Logo" />
        </a>
        <a href="">
          <img src="/assets/icons/icon_appstore.svg" alt="App store Logo" />
        </a>
        <a href="">
          <img src="/assets/icons/icon_bazaar.svg" alt="Bazar Logo" />
        </a>
      </div>
    </div>
  </div>
</footer>
