<hr />
<footer>
  <div class="website-info">
    <ul>
      <li><a href="#">وبلاگ پرگار</a></li>
      <li><a href="#">درباره پرگار</a></li>
      <li><a href="#">پرگار در رسانه ها</a></li>
      <li><a href="#">تماس با ما</a></li>
    </ul>
  </div>
  <div class="teaching-feature">
    <div class="banner">
      <p>از آموخته‌های خود کسب درآمد کنید!</p>
      <button>در پرگار درس بدهید</button>
    </div>
    <div class="site-verification">
      <!-- <img
        src="https://trustseal.enamad.ir/logo.aspx?id=94549&p=xZN2VtrmIWDKapzy"
        alt=""
      />
      <img
        src="https://logo.samandehi.ir/logo.aspx?id=110071&p=nbpdnbpdlymalymayndtnbpd"
        alt=""
      /> -->
    </div>
  </div>
  <div class="social">
    <div class="social-icons">
      <div class="social-text">
        <h3>پرگار را دنبال کنید</h3>
        <p>اطلاع از آموزش‌های جدید، تخفیف‌ها و…</p>
      </div>
      <!-- <div class="social-icon-logo">
        <img
          src="https://commons.wikimedia.org/wiki/File:Telegram_logo.svg"
          alt=""
        />
        <img src="/src/assets/images/icons/icon_social_instagram.svg" alt="" />
        <img src="/src/assets/images/icons/icon_social_aparat.svg" alt="" /> 
      </div> -->
    </div>
    <div class="find-app-icons">
      <!-- <img
        [src]="'/src/assets/images/icons/icon_social_telegram.svg'"
        alt="GooglePlay Icon"
      /> -->
    </div>
  </div>
</footer>
