@import "../../assets/styles/styles.scss";

footer {
  @include flex();
  text-align: center;
  padding: $base-padding 0;
  width: 100%;
  @include flex();

  p {
    margin: 0 0 $small-margin + 2;
  }
}

.footer-wrapper {
  max-width: 1170px;
  width: 100%;
  @include flex($justify: space-between, $align: flex-start);
  & > div {
    width: 33.33333333333333%;
  }
}

.website-info {
  text-align: right;
  a {
    font-size: $base-font;
    &:hover,
    &:focus {
      color: $primary-blue;
    }
  }
}

.banner {
  p {
    font-size: $base-font -1;
  }

  button {
    border-radius: 24px;
    border: 2px solid #37b34a;
    background-color: inherit;
    padding: 0px;
    padding-left: 16px;
    padding-right: 16px;
    transition: background-color 0.2s 0s;
    color: white;
    color: #37b34a;
    line-height: 32px;
    padding: 0 4rem;

    &:hover {
      color: white;
      background-color: #37b34a;
    }
  }
}

.find-app-icon {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 75%;
}

.social-icons {
  @include flex($justify: space-between);
  img {
    margin: 0 5px;
  }
}

.social-text {
  h3 {
    font-size: $base-font + 1;
    line-height: 24px;
  }

  p {
    font-size: $base-font - 4;
  }
}

.find-app-icons {
  margin-top: $base-margin - 0.25;
  direction: ltr;
  text-align: left;
  img {
    width: 128px;
    margin: 2px 4px;
  }
}
