@import "../../../../../styles.scss";

.feature-several-item {
  margin: $medium-margin 0;
  width: 100%;
  cursor: pointer;

  h3 {
    text-align: center;
  }

  img {
    width: 100%;
    margin-left: $base-margin - 4;
  }
}

.feature {
  margin-left: $base-margin;
}

@media screen and (max-width: 1200px) {
  .slick-wrapper {
    width: 100%;
  }
}
