// @import "../../../assets/styles/styles.scss";
// @import "../../../../styles.scss";

@import "../../../styles.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding: $base-padding + 0.5 0;
  margin-top: (2 * $medium-margin) + $base-margin;
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge add Firefox */
  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
  }

  .header {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: $base-margin + 0.5;

    .header-item {
      overflow: hidden;
      direction: ltr;
      width: 443.25px;
      margin: 0 $small-margin;
      position: relative;

      a {
        width: 100%;
        height: 100%;
        color: $white-color;
      }

      img {
        width: 100%;
        border-radius: 8px;
      }
      .header-item-title {
        position: absolute;
        width: 100%;
        top: 215px;
        left: 0;
        font-weight: bold;
        font-size: $base-font + 2.6;
        text-align: center;
        padding: $base-padding + 0.25;
        font-size: $base-font + 1;
      }
    }
  }
  .navbar {
    background-color: $white-color;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 1px 0px $primary-white-light;
    z-index: 9;

    .nav-items-list {
      @include flex($justify: space-between);
      list-style: none;
      max-width: 1170px;
      width: 100%;
      text-align: center;

      ul {
        padding: 0px;
        margin-bottom: 0px;
        display: inline-block;
        list-style: none;
        margin-top: 0;
      }

      li {
        padding: 12px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 9px;
        display: inline-block;
        border-bottom: 3px solid white;
        &:hover {
          background: white;
          border-bottom: 3px solid #37b34a;
        }

        &:hover .sub-cat {
          display: block;
          opacity: 1;
          z-index: 100;
        }
      }

      position: relative;
      a {
        font-size: 15px;
        line-height: 32px;
        color: $primary-grey-medium;
      }
    }
    .sub-cat {
      display: none;
      width: 1170px;
      background: white;
      box-shadow: 0px 1px 1px 0px #e0e0e0;
      overflow: hidden;
      position: absolute;
      right: 0px;
      left: 0px;
      top: 98%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }
  }
  main {
    margin-top: $base-margin;
    @include flex($direction: column);
    section {
      max-width: 1170px;
      width: 100%;
    }
  }

  .item-template {
    @include flex($direction: column);
    width: 100%;
  }

  .item-template-head {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: $base-padding + 0.5 0;

    p {
      color: $primary-green;
      font-weight: bold;
      font-size: $base-font;
      cursor: pointer;
    }
  }

  .item-template-title {
    color: $primary-grey-dark;
    font-weight: 300;
    font-size: $base-font + 3;
    line-height: 32px;
    margin: 0px;
    padding: 0 0 $base-padding 0;
  }

  .products {
    @include flex($justify: flex-start);

    margin: $small-margin - 3;
    position: relative;
    border-radius: 8px;
    height: 300px;
  }

  .product-item {
    height: 100%;
    background: $white-color;
    border-radius: 8px;
    width: 278px;
    margin-left: $base-margin - 3;
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 8px;
    cursor: pointer;

    &:last-child {
      margin-left: 0;
    }

    img {
      width: 100%;
      min-height: 166px;
      background-color: $primary-grey-medium;
      border-radius: 8px 8px 0 0;
      object-fit: cover;
    }

    .item-description {
      position: relative;
      .item-detail {
        position: absolute;
        top: 56px;
      }
    }

    .item-view {
      width: 100%;
      color: $primary-grey-light;
    }

    .item-title {
      font-size: $base-font -1;
      line-height: 24px;
      margin: 0 0 $small-margin + 2;
      padding: 5px;
      font-weight: bold;
      padding: $base-padding;
    }

    .item-detail {
      @include flex($justify: space-between);
      width: 100%;
      padding: $small-padding + 0.125;

      .view-author {
        font-size: $base-font - 2.2;
      }

      .view {
        padding-top: $small-padding;
        @include flex($justify: space-between, $align: baseline);

        font-size: $base-font - 3.2;
      }
    }
  }

  .fa-star {
    color: $primary-white-light;
  }

  .feature-single-item {
    background: $white-color;
    box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 4%);
    border: 1px solid rgba(0, 0, 0, 0.09);
    position: relative;
    margin: ($base-margin * 2) 0;
    width: 100%;
    @include flex($justify: flex-start);

    cursor: pointer;

    .feature-detail {
      padding: ($base-padding + 0.5) 45px ($base-padding + 0.5)
        ($base-padding + 0.5);
    }
    .feature {
      background: $white-color;
      padding: $base-padding + 0.5;
      border-radius: 8px;
      width: 100%;
      @include flex($align: flex-start, $justify: flex-start);
    }

    .feature-title {
      font-size: $medium-font + 4;
      color: $primary-grey-dark;
      padding-bottom: $small-padding;
    }

    img {
      width: 420px;
      border-radius: 8px;
    }

    .feature-view {
      @include flex($justify: space-between);
      margin-top: $base-margin;

      .view-author {
        color: $black-color;
      }

      .view-number {
        color: $primary-grey-light;
        font-size: 0.8rem;
      }
    }
  }

  .feature-several-item {
    margin: $medium-margin 0;

    @include flex($align: baseline, $justify: space-between);
    width: 100%;
    cursor: pointer;
    & > div {
      width: 373.333px;
    }

    h3 {
      text-align: center;
    }

    img {
      width: 100%;
    }

    .feature:not(.feature:last-child) {
      margin-left: $base-margin - 4;
    }
  }

  .several-feature {
    width: 100%;
  }
}

.fixed {
  position: fixed;
  width: 100%;
  transition: 0.2s linear;
  top: 68px;
}

.nofixed {
  position: static;
  transition: 0.2s linear;
  top: -50px;
}
