<div class="container">
  <div class="slick-wrapper">
    <div class="row">
      <ngx-slick-carousel
        class="carousel home-screen header"
        #slickModal="slick-carousel"
        [config]="slideConfig"
      >
        <div
          class="header-item"
          *ngFor="let item of headerItemList"
          ngxSlickItem
        >
          <a
            [routerLink]="[
              item.product_type === 3 ? '/feature-product' : '/product',
              item.id
            ]"
          >
            <div class="item-image">
              <img
                class="img image"
                [src]="item.feature_avatar.xhdpi"
                alt="{{ item.name }}"
              />
              <div class="item-special" *ngIf="item.is_special">
                <p>ویژه</p>
              </div>
            </div>
            <div class="title">
              <h2 class="header-item-title">{{ item.name }}</h2>
            </div>
          </a>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>

  <nav
    class="navbar"
    (scroll)="onscroll()"
    [ngClass]="navbarfixed ? 'fixed' : 'nofixed'"
  >
    <ul [ngClass]="parentCatMode ? 'parent-cat-mode' : 'nav-items-list'">
      <li *ngIf="parentCatMode">
        <a
          class="parent-title"
          [routerLink]="['/parent_cat', selectedParent.id]"
          >{{ selectedParent.title }}</a
        >
      </li>
      <ng-container *ngFor="let item of parentItemList">
        <li class="nav-item" *ngIf="item.is_visible === true">
          <a
            [routerLink]="[item.parent ? '/category' : '/parent_cat', item.id]"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="selectedRoute"
          >
            {{ item.title }}</a
          >
          <div class="sub-cat">
            <ul class="child-items">
              <li *ngFor="let child of item.childs">
                <a [routerLink]="['/category', child.id]">{{ child.title }} </a>
              </li>
            </ul>
          </div>
        </li>
      </ng-container>
    </ul>
  </nav>
  <main>
    <section>
      <ng-container *ngFor="let item of homeItemList; let i = index">
        <div class="items-template 'item-template-{{ i + 1 }}' ">
          <div class="item-title">
            <h2 class="item-template-title" *ngIf="item.row_type === 'normal'">
              {{ item.title }}
            </h2>
            <a
              [routerLink]="['/module', item.module]"
              *ngIf="item.module > 130 && item.products.length >= 4"
              >مشاهده همه</a
            >
          </div>

          <app-normall
            [products]="item.products"
            *ngIf="item.row_type === 'normal' && item.products.length >= 2"
          ></app-normall>
          <app-single-item
            [singleItem]="item.products"
            *ngIf="item.products.length === 1"
          ></app-single-item>
          <app-feature-items
            [featureItems]="item.products"
            *ngIf="item.row_type === 'feature' && item.products.length >= 2"
          >
          </app-feature-items>
        </div>
      </ng-container>
    </section>
  </main>
</div>
