<div class="container">
  <div class="home-screen header">
    <div class="header-item" *ngFor="let item of headerItemList">
      <a
        [routerLink]="[
          item.product_type === 3 ? '/feature-product' : '/product',
          item.id
        ]"
      >
        <img [src]="item.feature_avatar.xhdpi" alt="{{ item.name }}" />
        <h2 class="header-item-title">{{ item.name }}</h2>
      </a>
    </div>
  </div>

  <nav
    class="navbar"
    (scroll)="onscroll()"
    [ngClass]="navbarfixed ? 'fixed' : 'nofixed'"
  >
    <ul class="nav-items-list">
      <ng-container *ngFor="let item of parentItemList">
        <li class="nav-item" *ngIf="item.is_visible === true">
          <a [routerLink]="['/parent-cat', item.id]"> {{ item.title }}</a>
          <div class="sub-cat">
            <ul class="child-items">
              <li *ngFor="let child of item.childs">
                <a [routerLink]="['/category', child.id]">{{ child.title }} </a>
              </li>
            </ul>
          </div>
        </li>
      </ng-container>
    </ul>
  </nav>
  <main>
    <section>
      <ng-container *ngFor="let item of homeItemList; let i = index">
        <div class="items-template 'item-template-{{ i + 1 }}' ">
          <h2 class="item-template-title" *ngIf="item.row_type === 'normal'">
            {{ item.title }}
          </h2>
          <app-normall
            [products]="item.products"
            *ngIf="item.row_type === 'normal'"
          ></app-normall>
          <app-single-item
            [singleItem]="item.products"
            *ngIf="item.row_type === 'feature' && item.products.length === 1"
          ></app-single-item>
          <app-feature-items
            [featureItems]="item.products"
            *ngIf="item.row_type === 'feature' && item.products.length > 1"
          >
          </app-feature-items>
        </div>
      </ng-container>
    </section>
  </main>
</div>
