// @import "../../../assets/styles/styles.scss";
// @import "../../../../styles.scss";

@import "../../../styles.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
}

.container {
  padding: $base-padding + 0.5 0;
  margin-top: (2 * $medium-margin) + $base-margin;
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .header {
    overflow: hidden;
    margin-bottom: $base-margin + 0.5;

    .header-item {
      overflow: hidden;
      direction: ltr;
      width: 443.25px;
      margin: 0 $small-margin;
      position: relative;
      border-radius: 8px;

      a {
        width: 100%;
        height: 100%;
        color: $white-color;
      }

      img {
        width: 100%;
        border-radius: 8px;
      }
      .title {
        position: absolute;
        top: 223px;
        width: 100%;
        border-radius: 8px;
        background-image: -webkit-linear-gradient(
          -180deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.5) 100%
        );
        background-image: linear-gradient(
          -180deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.5) 100%
        );
      }
      .header-item-title {
        // position: absolute;
        width: 100%;
        // top: 215px;
        left: 0;
        font-weight: bold;
        font-size: $base-font + 2.6;
        text-align: center;
        padding: $base-padding + 0.25;
        font-size: $base-font + 1;
      }
    }
  }
  .navbar {
    background-color: $white-color;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 1px 0px $primary-white-light;
    z-index: 9;

    .parent-title {
      color: $primary-green;
      font-weight: bold;
    }
    .nav-items-list {
      @include flex($justify: space-between);
      flex-wrap: wrap;
      list-style: none;
      max-width: 1170px;
      width: 100%;
      text-align: center;

      ul {
        padding: 0px;
        margin-bottom: 0px;
        display: inline-block;
        list-style: none;
        margin-top: 0;
      }

      li {
        padding: 12px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 9px;
        display: inline-block;
        border-bottom: 3px solid white;
        &:hover {
          background: white;
          border-bottom: 3px solid #37b34a;
        }

        &:hover .sub-cat {
          display: block;
          opacity: 1;
          z-index: 100;
        }
      }

      position: relative;
      a {
        font-size: 15px;
        line-height: 32px;
        color: $primary-grey-medium;
      }
    }
    .sub-cat {
      display: none;
      width: 1170px;
      background: white;
      box-shadow: 0px 1px 1px 0px #e0e0e0;
      overflow: hidden;
      position: absolute;
      right: 0px;
      left: 0px;
      top: 98%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }
  }
  main {
    margin-top: $base-margin;
    @include flex($direction: column);
    section {
      max-width: 1170px;
      width: 100%;
    }
  }

  .item-template {
    @include flex($direction: column);
    width: 100%;
  }

  .item-template-head {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: $base-padding + 0.5 0;

    p {
      color: $primary-green;
      font-weight: bold;
      font-size: $base-font;
      cursor: pointer;
    }
  }

  .item-template-title {
    color: $primary-grey-dark;
    font-weight: bold;
    padding-bottom: 0.15rem;
    font-size: $medium-font;
    margin: $small-margin + 2 0;
  }
}

.products {
  @include flex($justify: flex-start);
  margin: $small-margin - 3;
  position: relative;
  border-radius: 8px;
  direction: ltr;
}

.fixed {
  position: fixed;
  width: 100%;
  transition: 0.2s linear;
  top: 68px;
}

.nofixed {
  position: static;
  transition: 0.2s linear;
  top: -50px;
}

.slick-wrapper {
  width: 100%;
}
.parent-cat-mode {
  max-width: 1170px;
  width: 100%;
  text-align: right;
  display: block;
  li {
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 9px;
    display: inline-block;
    border-bottom: 3px solid white;
    a:hover {
      color: $primary-green;
    }

    .sub-cat {
      display: none;
    }
  }
}

.selectedRoute {
  color: $primary-green;
}

.item-title {
  @include flex($justify: space-between, $align: baseline);
  a {
    font-weight: bold;
    color: $primary-green;
  }
}
