<div class="category-container">
  <nav class="navbar" *ngIf="isCategoryPath">
    <div class="nav-container">
      <ul class="nav-items-list">
        <li>
          <a
            class="category-title"
            [routerLink]="['/parent_cat', selectedCategoryParent?.id]"
            >{{ selectedCategoryParent?.title }}</a
          >
        </li>
        <li *ngFor="let child of selectedCategoryParent?.childs">
          <a
            [routerLink]="['/category', child.id]"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="selectedRoute"
            >{{ child.title }}
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="products">
    <div class="product-item" *ngFor="let item of categoryItemsList">
      <a [routerLink]="['/product', item.id]">
        <div class="item-image">
          <img
            class="image"
            [src]="item.feature_avatar.xhdpi"
            alt="{{ item.name }}"
          />
          <div class="item-special" *ngIf="item.is_special">
            <p>ویژه</p>
          </div>
        </div>
      </a>
      <div class="item-description">
        <p class="item-title">{{ item.name }}</p>
        <div class="item-detail">
          <div class="item-view">
            <p class="view-author">پرگار</p>
            <div class="view">
              <div class="view-number">
                <i class="fas fa-eye"></i>
                <span> {{ item.total_view }}</span>
              </div>

              <span class="item-rate">
                <i
                  class="fas fa-star"
                  *ngFor="let is of [1, 2, 3, 4, 5]; let i = index"
                  [ngClass]="{ 'green-star': item.rank > i }"
                ></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button
    class="white-btn btn more-btn"
    (click)="onSeeMore()"
    *ngIf="!isCategoryPath"
  >
    مشاهده بیشتر
    <i class="fas fa-caret-down"></i>
  </button>
</div>
