@import "../../../../styles.scss";

.edit-profile-container {
  @include flex($direction: column);
  padding: $medium-margin * 4 0 $base-margin * 2;

  .edit-profile {
    max-width: 1170px;
    width: 100%;
    @include flex($direction: column, $align: flex-start);
  }
}

.user-avatar {
  @include flex($align: flex-end, $justify: flex-start);
  img {
    background: url("../../../../assets/icons/icon_profile.svg") no-repeat cover;
    padding: $medium-padding 0;
    width: 160px;
    border-radius: 50%;
  }

  .avatar-upload {
    @include flex($align: baseline);
    .upload-inpute {
      width: 110px;
    }
    .verify-btn {
      order: -1;
      margin-left: $medium-margin;
      padding: 0.6rem 2.6rem;
    }
    input {
      width: 100%;
      padding: 1px solid $primary-green;
      font-size: 18px;
      padding: 0.35rem;
      border-radius: 4px;
      padding: $small-padding $small-padding + 0.1;
      border: 2px solid $primary-green;
    }
  }
}

h2 {
  padding: $base-padding 0;
}

.editProfileForm {
  width: 360px;
  margin-top: $medium-margin;
  @include flex($direction: column, $align: flex-start);
  & > * {
    margin: 0.7rem 0;
  }
  p {
    color: $primary-grey-dark;
    font-size: $base-font + 3;

    font-weight: bold;
  }
  input {
    background: $white-color;
    color: $primary-grey-dark;
    width: 326px;
    font-size: $base-font + 3;
    padding: $small-padding + 0.1 $medium-padding;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 9%);
  }

  button {
    width: 244px;
    margin: 25px;
    text-align: center;
    transition: 0.5s all;
    padding: $small-padding;
    border-radius: 30px;
    font-weight: bold;
    font-size: $base-font + 1;
    align-self: center;
    border: 2px solid $primary-green;
    &:hover {
      background: transparent;
      color: $primary-green;
    }
  }
}

.upload-btn,
.verify-btn {
  font-size: $base-font + 1;
  padding: 0px;
  margin: 0px;
  color: $primary-green;
  border: 2px solid $primary-green;
  border-radius: 8px;
  margin: $base-margin + 6 $base-margin + $small-margin $base-margin +
    $small-margin;
}
