@import "../../../../styles.scss";

.slick-wrapper {
  direction: rtl;
}

.feature-several-item {
  margin: $medium-margin 0;
  //   @include flex($align: baseline, $justify: space-between);
  width: 100%;
  cursor: pointer;

  h3 {
    text-align: center;
  }

  img {
    width: 100%;
    margin-left: $base-margin - 4;
  }

  //   .feature:not(.feature:last-child) {
  //     margin-left: $base-margin - 4;
  //   }
}

.feature {
  margin-left: $base-margin;
}
