<div class="navbar-container">
  <div class="banner-container" *ngIf="showBanner">
    <div class="banner" *ngIf="showBanner">
      <i class="fas fa-times" (click)="onCloseBanner()"></i>
      <p>
        برای مشاهده و دسترسی به بیش از ۵۰۰۰ ویدئوی آموزشی،‌از
        <a (click)="openDialog()"> اینجا </a> وارد شوید
      </p>
    </div>
  </div>
  <nav class="navbar">
    <div class="left-nav">
      <a href="http://panel.pargar.ir/#/" class="green-btn left-nav-btn-two btn"
        >در پرگار درس بدهید</a
      >
      <div class="user-profile" *ngIf="userAvatar">
        <div class="profile-section">
          <img class="user-avatar" [src]="userAvatar" alt="Avatar" />
          <div class="dropdown-menu">
            <ul>
              <li>
                <a class="profile-router" (click)="onProfile()">پروفایل</a>
              </li>
              <li><a class="gift-code" (click)="openDialog()">کد هدیه</a></li>
              <li><a href="#">راهنما</a></li>
              <li>
                <a class="dropdown-login-link" (click)="onLogout()">
                  خروج از پرگار
                </a>
              </li>
            </ul>
          </div>
        </div>
        <button class="pluse-btn btn white-btn">کاربر اشتراکی شوید</button>
      </div>
      <button class="white-btn left-nav-btn-one btn" *ngIf="!userAvatar">
        حساب من <i class="fas fa-chevron-down"></i>
        <div class="dropdown-menu">
          <a class="dropdown-login-link" (click)="openDialog()">
            ورود/ثبت نام رایگان
          </a>
          <a (click)="openDialog()">کد هدیه</a>
        </div>
      </button>
    </div>
    <div class="right-nav">
      <a class="logo" href="#">
        <img src="/assets/images/logo_.png" alt="Website Logo" />
      </a>
      <a (click)="onCategoryDropDown()" class="categories"
        >دسته&zwnj;بندی&zwnj;ها<i class="fas fa-chevron-down right"></i>
      </a>
      <div class="parent-cat-dropdown-menu" *ngIf="showNavCategory">
        <ul>
          <li *ngFor="let parent of ParentCategory">
            <a
              [routerLink]="['/parent_cat', parent.id]"
              *ngIf="parent.is_visible"
              >{{ parent.title }}</a
            >
            <div class="childs-menu">
              <ul>
                <li *ngFor="let child of parent.childs">
                  <a [routerLink]="['/category', child.id]">{{
                    child.title
                  }}</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="search-bar">
        <input type="text" class="search-bar" placeholder="جستجو کنید" />
        <a href="#"> <i class="fas fa-search"></i></a>
      </div>
      <a href="" class="guide">راهنمای پرگار</a>
    </div>
  </nav>
</div>
