// @import "../../../../assets/styles/styles.scss";
@import "../../../../styles.scss";

.banner-container {
  width: 100%;
  height: 60px;
  background-color: $primary-green;

  .banner {
    max-width: 1170px;
    width: 100%;
    height: 100%;
    @include flex($justify: space-between);

    .fas {
      font-size: $medium-font + 2;
      margin: $medium-margin;
      color: $white-color;
      cursor: pointer;
    }

    p,
    a {
      color: $white-color;
      font-size: $base-font + 3;
      font-weight: 300;
    }
    a {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.navbar-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  height: 70px;
}

.navbar {
  @include flex($justify: space-between);
  width: 100%;
  height: 100%;
  background-color: $white-color;
  border-bottom: 1px solid #ccc;
  padding-bottom: $small-padding;
}

.left-nav {
  @include flex($justify: flex-end);
}

.dropdown-login-link {
  border: none;
  background-color: transparent;
  color: $primary-grey-medium;
  cursor: pointer;
}

.left-nav-btn-one,
.pluse-btn {
  position: relative;
  margin-right: $base-margin;
}

.dropdown-menu {
  width: 135px;
  background-color: $white-color;
  text-align: center;
  padding: 5px;
  display: none;
  position: absolute;
  left: -21px;
  z-index: 1;
  box-shadow: 0px 2px 10px 0px rgb(0 0 0 / 16%),
    0px 2px 5px 0px rgb(0 0 0 / 26%);

  a {
    display: block;
    color: $primary-grey-medium;
    font-size: $base-font - 1;
  }
  &::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -5px;
    left: 64px;
    border: 9px solid transparent;
    border-top: 0;
    border-bottom: 7px solid $white-color;
  }
}

button:hover .dropdown-menu {
  display: block;
}

.left-nav {
  padding-left: $medium-padding + 0.5;
}

.right-nav {
  top: 8px;
  @include flex();
  order: -1;
  padding-right: $medium-padding + 0.5;
  position: relative;

  & > * {
    margin-right: $base-margin + 0.4;
  }

  .logo {
    margin: 0;
  }
}

.logo {
  img {
    width: 70px;
    height: auto;
    padding: 0px;
    padding-left: $base-margin + 0.4;
    border-left: 1px solid $primary-white-medium;
  }
}

.search-bar {
  position: relative;
  input {
    border: 1px solid $primary-white-medium;
    border-radius: 45px;
    width: 30vw;
    height: 40px;
    font-size: 14px;
    max-width: 460px;
    padding: 0 $medium-padding + 0.3;
    outline: none;
    &::placeholder {
      font-weight: 300;
      color: $primary-white-medium;
    }
  }

  .fa-search {
    position: absolute;
    top: 12px;
    right: 15px;
    transform: rotateY(180deg);
    color: $primary-green;
  }
}

.categories,
.guide {
  color: $primary-grey-medium;
}

.right {
  margin: 0 $small-margin - 3;
}

.login-view-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  @include flex();

  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    animation: 0.5s ease-in;
    z-index: -1;
  }

  .login-view {
    background-color: $white-color;
    width: 450px;
    padding: $base-padding + 0.375;
    margin-bottom: $small-padding + 0.2;
    border-radius: 8px;

    .login-title {
      font-size: $medium-font - 0.2;
      color: black;
      margin-bottom: $base-margin;
    }
    form {
      @include flex($direction: column);
    }
    input {
      width: 100%;
      padding: $small-padding;
      border-radius: 5px;
      border: 1px solid $primary-green;
      outline: none;
      box-sizing: border-box;
      font-size: $base-font + 3;
      &::placeholder {
        font-weight: 300;
        font-size: $base-font + 1;
        color: #acacac;
      }
    }

    .login-form {
      text-align: center;
    }

    .error-text {
      font-size: $base-font + 0.5;
      color: $red-color;
      text-align: right;
      padding: $base-padding 0;
      align-self: flex-start;
    }

    .login-btn {
      margin: 1rem 0;
      border-radius: 20px;
      background: $primary-green;
      border: 2px solid $primary-green;
      transition: background-color 0.2s 0s;
      width: 50%;
      color: $white-color;
      font-size: 16px;
      padding: 5px 0;
      &:focus,
      &:hover {
        background-color: $white-color;
        color: $primary-green;
      }
    }
  }
}

.login-view {
  width: 400px;
  input {
    margin: $base-margin 0;
  }
}

.login-btns {
  @include flex($direction: column);

  .resend-btn {
    background-color: transparent;
    color: $primary-green;
    border: none;
    cursor: pointer;
  }
}

.user-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 $base-margin + 4;

  .profile-section {
    position: relative;
    order: 1;
    &:hover .dropdown-menu {
      display: block;
    }
  }
  .user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  .dropdown-menu {
    margin: auto;
    width: 95px;
    background-color: $white-color;
    border-radius: 2px;
    box-shadow: 0px 2px 10px 0px rgb(0 0 0 / 16%),
      0px 2px 5px 0px rgb(0 0 0 / 26%);
    padding: $small-padding - 4;
    text-align: right;
    top: 32px;
    left: -38px;

    &::before {
      top: -5px;
      left: 45px;
    }
    a {
      cursor: pointer;
    }
  }

  .pluse-btn {
    margin: 0 0 0 $base-margin;
  }
}

.notLogged-error {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;

  h2 {
    background-color: white;
    padding: 2rem;
    height: 200px;
    width: 300px;
  }
}

.parent-cat-dropdown-menu {
  display: block;
  visibility: visible;
  box-shadow: 0px 1px 2px 0px #bdbdbd;
  background: white;
  position: absolute;
  top: 80%;
  right: 150px;
  z-index: -1;
  width: 200px;
  li {
    position: relative;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    display: block;
    font-size: 15px;
    &:hover {
      background-color: whitesmoke;
    }
    &:hover .childs-menu {
      display: block;
      width: 250px;
      opacity: 1;
      z-index: 100;
      transition: all 0.2s 1.5s;
    }
    a {
      color: #757575;
      font-size: $base-font - 1;
    }
    .childs-menu {
      width: 0px;
      background: whitesmoke;
      box-shadow: 0px 1px 2px 0px #bdbdbd;
      opacity: 0;
      z-index: 10;
      transition: all 0.2s 0.5s;
      display: none;
      overflow: hidden;
      position: absolute;
      right: 101%;
      top: 0;
    }
  }
}
