@import "../../../../../styles.scss";

.login-view {
  background-color: $white-color;
  width: 450px;
  padding: $base-padding + 0.375;
  margin-bottom: $small-padding + 0.2;
  border-radius: 8px;

  form {
    @include flex($direction: column);
  }
  input {
    width: 100%;
    padding: $small-padding;
    border-radius: 5px;
    border: 1px solid $primary-green;
    outline: none;
    box-sizing: border-box;
    font-size: $base-font + 3;
    &::placeholder {
      font-weight: 300;
      font-size: $base-font + 1;
      color: #acacac;
    }
  }

  .login-form {
    text-align: center;
  }
}

.login-view {
  width: 400px;
  input {
    margin: $base-margin 0;
  }
}

.login-btns {
  @include flex($direction: column);

  .resend-btn {
    background-color: transparent;
    color: $primary-green;
    border: none;
    cursor: pointer;
  }
}

.form-container {
  .form {
    @include flex($justify: center, $direction: column);
  }
  .login-title {
    font-size: $medium-font - 0.2;
    color: black;
    margin-bottom: $base-margin;
  }
  .login-btn {
    font-weight: bold;
    margin: 1rem 0;
    border-radius: 20px;
    background: $primary-green;
    border: 2px solid $primary-green;
    transition: background-color 0.2s 0s;
    width: 50%;
    color: $white-color;
    font-size: 16px;
    padding: 5px 0;
    align-items: center;
    &:focus,
    &:hover {
      background-color: $white-color;
      color: $primary-green;
    }
  }

  .error-text {
    font-size: $base-font + 0.5;
    color: $red-color;
    text-align: right;
    // padding: $base-padding 0;
    align-self: flex-start;
  }

  .resend-btn {
    background-color: transparent;
    color: $primary-green;
    border: none;
    cursor: pointer;
  }
  .invalid-gift-code {
    font-weight: bold;
    align-self: center;
    font-size: 18px;
  }
}

input {
  //   padding: 0.5rem;
  //   padding: $small-padding;
  border-radius: 5px;

  outline: none;
  box-sizing: border-box;
  font-size: $base-font + 3;
  &::placeholder {
    font-weight: 300;
    font-size: $base-font + 1;
    color: #acacac;
  }
}

::ng-deep {
  .mat-form-field {
    width: 100%;
    &:focus {
      border: none;
      outline: none;
    }
  }
  .mat-form-field-infix {
    border-top: 0;
    &:focus {
      border: none;
      outline: none;
    }
  }
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 17px 0 0.8rem 0;
    &:focus {
      border: none;
      outline: none;
    }
  }
  .mat-form-field-appearance-outline .mat-form-field-outline {
    border: 1px solid #37b34a;
    border-radius: 4px;
    color: transparent;
    &:focus {
      border: none;
      outline: none;
    }
  }

  .mat-form-field-label-wrapper {
    display: none;
  }
}
