<div class="container-profile">
  <div class="user-header" *ngIf="userData">
    <div class="user-dashbored">
      <div class="user-profile">
        <img src="{{ userAvatar }}" alt="User Avatar" class="user-avatar" />
        <h3 class="user-name">{{ userData.nickname }}</h3>
      </div>
      <div class="user-operations">
        <a (click)="toEditProfile()" class="edit-profile"
          >ویرایش اطلاعات کاربری</a
        >
        <a href="#" class="become-special">کاربر ویژه شوید</a>
        <a class="logout" (click)="onLogout()">
          <i class="fas fa-sign-out-alt"></i> خروج از حساب کاربری</a
        >
      </div>
    </div>
    <div class="user-options">
      <ul>
        <li>
          <a class="active" (click)="onChangeMode()">علاقه مندی ها</a>
        </li>
        <li>
          <a (click)="onChangeMode()">وضعیت اشتراک</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="user-body">
    <div class="row">
      <div class="bookmarks" *ngIf="isBookmark">
        <p>شما هیچ محصولی را نشان نکرده اید.</p>
      </div>
      <div class="user-plus-status" *ngIf="!isBookmark">
        <p>شما مشترک پرگار نیستید</p>
        <a href="#" class="btn-join">کاربر ویژه شوید!</a>
      </div>
    </div>
  </div>
</div>
