@import "../../../assets/styles/styles.scss";

.container-profile {
  min-height: 10vh;
  height: 100%;
  width: 100%;
  padding-top: $medium-margin * 2 + 1;

  .user-header {
    background-color: $primary-green;
    padding-top: $medium-padding + 0.5;
    padding-bottom: 0px;

    @include flex($direction: column);

    .user-dashbored {
      width: 100%;
      color: $white-color;
      @include flex($justify: space-around);
    }
  }

  .user-name {
    font-size: $medium-font * 2;
  }
  .user-avatar {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    display: inline-block;
    margin: 0 $base-margin;
  }

  .user-option {
    @include flex($direction: column);
  }

  .user-profile {
    @include flex();
    padding: $medium-padding + 1;
  }
  .user-operations {
    @include flex($direction: column);

    & > * {
      width: 100%;
    }

    .edit-profile {
      border: 1px solid $white-color;
      border-radius: 30px;
      line-height: 32px;
      padding: 3px $base-padding;
      color: $white-color;
    }

    .logout {
      color: $white-color;
      cursor: pointer;
    }
  }
}
.become-special,
.btn-join {
  color: $primary-green;
  font-size: $base-font + 1;
  line-height: 32px;

  text-align: center;
  // margin: $small-margin;
  // margin-left: 0px;
  // margin-right: 0px;
  // margin-bottom: 16px;
  margin: $small-margin 0 $base-margin;
  border: 1px solid $white-color;
  border-radius: 20px;
  background: $white-color;
  // padding: 3px;
  // padding-left: 16px;
  // padding-right: 16px;
  // padding-bottom: 3px;
  padding: 3px $base-padding;
}

.user-options {
  padding-top: $medium-padding;

  width: 52%;
  align-self: center;
  ul {
    display: flex;
    justify-content: space-around;
    max-width: 480px;
    width: 100%;

    a {
      display: inline-block;
      color: $white-color;
      font-size: $base-font + 1;
      padding: 6px 0;
      font-weight: bold;
      position: relative;
      cursor: pointer;
    }
  }
}

.user-body {
  display: flex;
  justify-content: center;
  width: 1170px;
  .row {
    min-height: 400px;
    // padding: 20px;
    // padding-left: 40px;
    // padding-right: 40px;
    // padding-bottom: 40px;
    padding: $base-padding + 0.25 $medium-padding + 0.5 $medium-padding + 0.5;

    & > * {
      margin: $small-margin 0;
    }
  }

  .btn-join {
    background-color: $primary-green;
    color: $white-color;
    margin: $medium-margin 0;
  }
}

.route {
  width: 300px;
  height: 300px;
  background-color: goldenrod;
  padding: 10rem;
}
