<div class="product-detail-container" *ngIf="selectedProduct">
  <section class="product">
    <h2 class="product-title">{{ selectedProduct.name }}</h2>
    <div class="product-info">
      <div class="poduct-status">
        <p class="subscription-product">مخصوص کاربران اشتراکی</p>
        <p class="producer">{{ selectedProduct.producer_name }}</p>
      </div>

      <div class="add-favourite">
        افزودن به علاقه مندی ها <i class="far fa-heart"></i>
      </div>
    </div>
    <div class="player">
      <div class="video-list">
        <div class="video-number"></div>
        <div class="row-titile"></div>
        <div class="file-list"></div>
      </div>
      <div class="video-player"></div>
    </div>
    <div class="video-info">
      <h3>درباره این دوره</h3>
      <div class="product-details">
        <div class="product-rate">
          <p>{{ selectedProduct.rank }}</p>
          <i
            class="fas fa-star"
            *ngFor="let is of [1, 2, 3, 4, 5]; let i = index"
            [ngClass]="{ 'green-star': selectedProduct.rank > i }"
          ></i>
        </div>
        <div class="product-view">
          {{ selectedProduct.total_view }} نفر این دوره را دیده اند
        </div>
        <div class="product-description">
          <p>{{ selectedProduct.description }}</p>
        </div>
      </div>
    </div>
    <div class="comments-section">
      <h3 *ngIf="productComments.length > 0">نظر شرکت کنندگان در این دوره</h3>
      <div class="comment" *ngFor="let comment of productComments">
        <div class="user-comment">
          <div class="user-detail">
            <h4 class="username">{{ comment.user }}</h4>
            <div class="user-rate">
              <i
                class="fas fa-star"
                *ngFor="let is of [1, 2, 3, 4, 5]; let i = index"
                [ngClass]="{ 'green-star': comment.score > i }"
              ></i>
            </div>
          </div>
          <p class="comment-text">{{ comment.comment_text }}</p>
        </div>
      </div>
    </div>
    <div class="comment-add">
      <a class="comment-btn" (click)="onAddComment()" *ngIf="!commentMode">
        <i class="far fa-comment-alt"></i>
        <a>نظر و امتیاز درمورد این محصول</a>
      </a>
      <div class="comment-write" *ngIf="commentMode">
        <div class="comment-question comment-btn">
          <i class="far fa-comment-alt"></i>
          <a>به این دوره چه امتیازی میدهید</a>
          <div class="rate">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
        </div>
        <div class="comment-box">
          <textarea #commentMsg placeholder="نظر خود را بنویسید"></textarea>
          <div class="comment-operation-btns">
            <a class="dismiss" (click)="onDismissComment()">انصراف</a>
            <a
              class="submit-comment"
              (click)="onSubmitComment(commentMsg.value)"
            >
              ثبت نظر
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="related-products">
      <h3 class="relate-products-title">دوره های مرتبط</h3>
      <div class="products">
        <div class="product-item" *ngFor="let item of relatedProducts">
          <a [routerLink]="['/product', item.id]">
            <div class="item-image">
              <img
                class="image"
                [src]="item.feature_avatar.xhdpi"
                alt="{{ item.name }}"
              />
              <div class="item-special" *ngIf="item.is_special">
                <p>ویژه</p>
              </div>
            </div>
            <div class="item-description">
              <p class="item-title">{{ item.name }}</p>
              <div class="item-detail">
                <div class="item-view">
                  <p class="view-author">{{ item.producer_name }}</p>
                  <div class="view">
                    <div class="view-number">
                      <i class="fas fa-eye"></i>
                      <span> {{ item.total_view }}</span>
                    </div>

                    <span class="item-rate">
                      <i
                        class="fas fa-star"
                        *ngFor="let is of [1, 2, 3, 4, 5]; let i = index"
                        [ngClass]="{ 'green-star': item.rank > i }"
                      ></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div></div>
  </section>
</div>
