@import "../.../../../../../styles.scss";

.product-detail-container {
  @include flex($direction: column);
  padding: $medium-padding * 4 0 $medium-padding * 2;
  font-family: "IRANsans";
}

.product {
  max-width: 1170px;
  width: 100%;
}

.product-title {
  font-size: 23px;
  padding-bottom: $base-padding - 0.1;
  color: #424242;
}

.product-info {
  @include flex($justify: space-between, $align: baseline);

  .subscription-product {
    background-color: $primary-green;
    border-radius: 10px;
    color: $white-color;
    font-size: $base-font;

    margin-left: $small-margin + 2;

    padding: 3px 10px;
    text-align: center;
    width: 180px;
    font-weight: bold;
    display: inline-block;
  }
  .producer {
    padding: 3px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 3px;
    text-decoration: underline;
    display: inline-block;
    color: #9e9e9e;
    font-size: 15px;
    font-weight: bold;
  }
  .add-favourite {
    @include flex($align: baseline);
    .fa-heart {
      margin-right: 4px;
    }
  }
}

.player {
  margin: 2rem 0 0;
  background-color: white;
  width: 100%;
  height: 450px;
  border-radius: 10px;
  box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 4%);
}

.product-details {
  width: 100;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 4%);
  background-color: white;
  padding: 24px;

  .product-rate {
    p {
      font-size: 22px;
    }

    .fa {
      font-size: 18px;
    }

    color: #9e9e9e;
  }
  .product-view {
    padding: 0.5rem 0;
    color: #9e9e9e;
    font-size: 14px;
  }
}

.comment {
  margin-bottom: 20px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  padding: 24px;

  .user-detail {
    @include flex($justify: space-between, $align: baseline);
    margin: 0 0 10px;
  }
  .username {
    font-size: 14px;
    color: black;
  }

  .comment-text {
    font-size: 13px;
    color: #424242;
    word-wrap: break-word;
    font-weight: 300;
  }
}

h3 {
  font-size: 20px;
  padding: 20px 0;
  font-weight: bold;
}

p {
  margin: 0 0 10px;
}

.comment-add {
  @include flex($justify: flex-start);
  margin-top: 40px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 4%);
  background: white;

  .comment-btn {
    @include flex($align: center);
    cursor: pointer;

    & > * {
      color: #9e9e9e;
    }
    .fa-comment-alt {
      margin-left: 7px;
    }
    a {
      font-size: 14px;
    }
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1170px;
  width: 100%;
  direction: ltr;
  justify-items: center;
}

.product-item {
  margin-top: 0.75rem;
  height: 320px;
  background: $white-color;
  border-radius: 8px;
  width: 85%;
  direction: rtl;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 8px;
  cursor: pointer;

  &:last-child {
    margin-left: 0;
  }

  img {
    width: 100%;
    min-height: 166px;
    background-color: $primary-grey-medium;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
  }

  .item-description {
    position: relative;
  }

  .item-view {
    width: 100%;
    color: $primary-grey-light;
  }

  .item-title {
    font-size: $base-font -1;
    line-height: 24px;
    margin: 0 0 $small-margin + 2;
    padding: 5px;
    font-weight: bold;
    padding: $base-padding;
  }

  .item-detail {
    @include flex($justify: space-between);
    position: absolute;
    top: 70px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: $small-padding + 0.125 $small-padding + 0.125 0;

    .view-author {
      font-size: $base-font - 2.2;
    }

    .view {
      padding-top: $small-padding;
      @include flex($justify: space-between, $align: baseline);

      font-size: $base-font - 3.2;
    }
  }
}

textarea {
  margin: $small-margin 0;
  border: none;
  outline: none;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 60px;
  font-family: "IRANsans", sans-serif;

  &::placeholder {
    font-weight: bold;
    color: #9e9e9e;
  }
}

.dismiss {
  color: #9e9e9e;
  padding: 10px;
}
.submit-comment {
  padding: 10px;
  font-size: 16px;
  color: #37b34a;
}

.comment-question {
  align-self: flex-start;
  @include flex($justify: space-between);
  & > * {
    margin: 4px;
  }

  .fa-star {
    font-size: $base-font;
  }
}

.comment-write {
  width: 100%;
  @include flex($direction: column);
}

.comment-box {
  width: 100%;
  .comment-operation-btns {
    text-align: left;
    a {
      cursor: pointer;
    }
  }
}
