<div class="product-detail-container">
  <div class="product-info">
    <p>مخصوص کاربران اشتراکی</p>
    <div class="add-favourite">
      افزودن به علاقه مندی ها <i class="far fa-heart"></i>
    </div>
    <div class="player">
      <div class="video-list">
        <div class="video-number"></div>
        <div class="row-titile"></div>
        <div class="file-list"></div>
      </div>
      <div class="video-player"></div>
    </div>
    <div class="video-info"></div>
    <div class="comments"></div>
    <div class="related-products">
      <h2 class="others-title">دوره های مرتبط</h2>
      <div class="products"></div>
    </div>
  </div>
</div>
